body {
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.inicio {
    background-color: #9e6185;
    text-align: center;
}

.imagem img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 30px;
    box-shadow: 0 0 10px #ffffff, 0 0 15px #720946;
}

.nome {
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px #c0bfbf, 0 0 15px #720946;
    margin-bottom: 5px;
}

.subtitulo {
    color: #ffffff;
    font-style: italic;
    margin-top: 3px;
    text-shadow: 0 0 10px #ffffff, 0 0 15px #720946;;
}

.redes {
    padding-bottom: 20px;
    padding-top: 20px;
}

.icon {
    display: inline-block;
    margin: 0 3px;
    width: 30px;
    height: 30px;
    background-color: #720946;
    padding: 5px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.icon a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.icon i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: #720946;
    color: #ffffff;
    cursor: pointer;
}

.icon span a {
    list-style: none;
    float: right;
    margin-right: 50px;
    font-weight: 100;
    color: #ffffff;
    line-height: 35px;
    font-size: 17px;
}

.icon:hover {
    width: 125px;
    background-color: #720946;
    border-radius: 15px;
}

.nav {
    margin: 5%;
}

.sobre {
    border: #ffdaef;
    color: #360422;
    font-weight: lighter;
    width: auto;
    text-align: center;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 27px;
    box-shadow: 0 3px 9px #720946;
}

.linguagens {
    width: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

h1 {
    font-variant: small-caps;
    color: #720946;
    text-shadow: 0 3px 3px #c0bfbf;
    font-size: 25px;
    letter-spacing: 0.2px;
}

.lang {
    height: 100px;
    width: auto;
    border-radius: 100%;
    box-shadow: 0 3px 9px #720946;
    margin: 7px;
}

.lang:hover {
    scale: 1.3;
}

.projetos {
    text-align: center;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    background-color: #9e6185;
    text-align: center;
    margin-bottom: 0;
    box-shadow: 3px 0 9px  #720946;
    padding: 30px;
}

footer p {
    color: #ffffff;
    font-variant: small-caps;
}